<!DOCTYPE html>
<html>
    <head>
        <title>OCR</title>
    </head>
    <body>
        <h1>Image to pdf</h1>
        <form actions='/uploads' method="POST" enctype="application/x-www-form-urlencoded"></form>
    <input type="file" name="avatar" /> 
<button type="submit"/>conver</button>
    </body>
</html>